@media only screen and (max-width:426px) {
  .hero .hero-img-wrap img {
    max-width: 410px;
    top: 62px;
}


.hero .hero-img-wrap:after {
  width: 255px;
  height: 217px;
  right: 0px;
}
}

@media only screen and (max-width:376px) {
  .hero .hero-img-wrap img {
    max-width: 350px;
    top: 53px;
}
}

@media only screen and (max-width:320px) {
  .hero .hero-img-wrap img {
    max-width: 300px;
    top: 49px;
}

.custom-navbar .navbar-brand {
  font-size: 26px;
}
}
